<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Home</title>
</head>

<body>

	<h2>Welcome to the Home Page!</h2>

	<p>Explore the following links:</p>

	<ul>
		<div th:if="${session['myAttribute'] != null}">
			<li><a th:href="@{/register/all}">View All Persons</a></li>
			<li><a th:href="@{/user/logout}">Logout</a></li>
		</div>
		<div th:unless="${session['myAttribute'] != null}">
			<li><a th:href="@{/user/login}">Login</a></li>
			<!-- Your main content here -->
		</div>
		<li><a th:href="@{/register/registration}">Register</a></li>

	</ul>

</body>

</html>