<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<h2>Login</h2>

	<p>Explore the following links:</p>

	<ul>
		<div th:if="${session['myAttribute'] != null}">
			<li><a th:href="@{/register/all}">View All Persons</a></li>
			<li><a th:href="@{/user/logout}">Logout</a></li>
		</div>
		<li><a th:href="@{/register/registration}">Register</a></li>

	</ul>

<!--<form th:action="@{/user/check_cred}" th:object="${new_cred}" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" th:field="*{username}" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" th:field="*{password}" required>
    <br>
    <button type="submit">Login</button>
</form>-->
<div th:if="${msg}">
    <p th:text="${msg}"></p>
</div>

<form th:action="@{/user/check_cred}" th:object="${new_cred}" method="post">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"
               th:value="${username ?: ''}" placeholder="Enter your username" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" th:field="*{password}" placeholder="Enter your password" required>
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
</form>


</body>
</html>
